
table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 65%; 
    background-color: #2ab44f; /* háttérszín */
    color: white; /* betűszín */
    font-family: Arial, Helvetica, sans-serif; /* betűtípus */
    
}

th {
    background-color: #237539;
}

#keses {
    background-color: #ff0022;
}

tr:nth-child(odd) {
    background-color: #33d649;
}

#ora {
    background-color: #d7ded8;
    color: #237539
}

body {
    background-image: url(images/bg.jpg);
}

#link {
    display: flex;
    justify-content: center; /* Vízszintes középre helyezés */
    align-items: center;     /* Függőleges középre helyezés */
}

.container {
    display: grid;
    place-items: center;
    text-align: center;
}
.additional_info {
    margin-top: 10px;
    width: 65%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

  